@model DancingGoat.Models.Grinders.GrinderFilterViewModel

<h4>@ResHelper.GetString("DancingGoatMvc.Grinders.Manufacturers")</h4>
@Html.EditorFor(model => Model.Manufacturers)

<h4>@ResHelper.GetString("DancingGoatMvc.Grinders.Price")</h4>
@Html.EditorFor(model => Model.Prices)

<h4>@ResHelper.GetString("DancingGoatMvc.Grinders.Type")</h4>
@Html.EditorFor(model => Model.Type)
